@import "tailwindcss";

/* Your existing font faces and classes below */


@theme {
  --color-honey-gray: #d3d3d3;
  --color-honey-gold: #bb964e;
  --color-honey-sage: #90a4a5;
  --color-honey-pink: #eadcd6;
}


@font-face {
  font-family: "MarchRough";
  /* set name */
  src: local("MarchRough"), url(../src/assets/March-Rough.ttf);
  /* url of the font */
}

.im-fell-english-sc-regular {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
}

.march-rough {
  font-family: "MarchRough", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  background-color: var(--color-honey-gray);
}